.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.wrapper img {
  width: 50px;
}

.wrapper h1 {
  display: inline;
  padding: 0 100px;
}

.formulario {
  display: inline;
}